body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
  }
  
  header {
    background-color: #1a1a1a;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 1.5rem;
  }
  
  .back-button {
    text-decoration: none;
    color: #fff;
    background-color: #444;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .back-button:hover {
    background-color: #666;
  }
  
  /* Conteúdo Principal */
  main {
    padding: 2rem;
  }
  
  .case-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .case-container h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .case-image img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .case-details h3 {
    margin-top: 1.5rem;
  }
  
  .case-details ul {
    list-style: none;
    padding: 0;
  }
  
  .case-details ul li {
    margin: 0.5rem 0;
  }
  
  .case-details ul li strong {
    color: #ccc;
  }
  
  